<style> 
    .table thead th {
        background-color: #ebf3ff;
    }
</style>
<!DOCTYPE html>
<html lang="en">
    <body>
        <div id="app">
            <div id="main">
                <style>
                    body {
                    background-color:#f2f7ff;
                    }
                </style>
                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <h3>자산평가</h3>
                                
                            </div>
        
                        </div>
                    </div>
                    <!-- Bordered table start -->
                    <section class="section">
                        <div class="row" id="table-bordered">
                            <div class="col-12">
                                <div class="card border-0">
                                    <div class="card-content">
                                        <!-- table bordered -->
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-0">
                                                <tbody>
                                                    <tr>
                                                        <th class="text-bold-500" >총매입</th>
                                                        <td><%= info[0][0].total_buy_price %></td>
                                                        <th class="text-bold-500">평가손익</th>
                                                        <td><%= info[0][0].company_stock * info[0][0].cnt - info[0][0].total_evaluation %></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-bold-500">총평가</th>
                                                        <td><%= info[0][0].company_stock * info[0][0].cnt %></td>
                                                        <th class="text-bold-500">평가수익률</th>
                                                        <td><%= (info[0][0].company_stock - (info[0][0].total_evaluation / info[0][0].cnt)) / 100000 * 100 %></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-bold-500">추정자산</th>
                                                        <td><%= info[0][0].company_stock * info[0][0].cnt + info[1][0].stock %></td>
                                                        <th class="text-bold-500">실현손익</th>
                                                        <td><%= info[1][0].stock %></td>
                                                    </tr>                                            
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Bordered table end -->
                    <section class="section">
                        <div class="card border-0">
                            
                            <div class="table-responsive">
                                <table class="table table-bordered" id="table1">
                                    <thead>
                                        <tr class="table-secondary">
                                            <th rowspan="2" cope="col"  class="align-middle" >종목명</th>
                                            <th cope="col" class="text-center">평가손익<br> 손익률</th>
                                            <th cope="col" class="text-center" >평균단가<br>현재가</th>
                                            <th cope="col" class="text-center" >보유수량<br>매도가능</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(my of info[2] ) {%>
                                        <tr>
                                            <td  rowspan="2" class="align-middle" ><%=my.company_name%></td>
                                            <td class="text-right"><%= my.current_price - my.unit_price%></td>
                                            <td class="text-center"><%= my.unit_price / my.cnt %></td>
                                            <td class="text-right"><%=my.cnt%></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><%= my.current_price - my.unit_price / 100000 * 100%>%</td>
                                            <td class="text-center"><%= my.current_price / my.cnt %></td>
                                            <td class="text-right"><%=my.cnt%></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <script src="/javascripts/main.js"></script>
    </body>
</html>