<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">

    <link rel="stylesheet" href="/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon"> -->
</head>
<style>.cen{text-align: center;}</style>
<style>.cen2{text-align: left;}</style>
<body>
    <div id="app">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <button type="button" id="modal_btn" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="display: none;">Large modal</button>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <a href="/search/public_offering">
                            <img src="/images/modal/public_offering.png" alt="offering">
                        </a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                      </div>
                </div>
            </div>
            <div class="page-heading">
                <div class="card-body px-3 py-4-5">
                    <div class = "row">
                        <div class="col-md-1">
                            <img src="/images/logo/YLHlogo-removebg-preview.png" height="50" alt="Logo">
                        </div>
                        <div class="col-md-9">
                            <h1>한남대학교 창업모의투자</h1>
                        </div>
                        <div class="col-md-1">
                            <a href="/logout"button class="btn btn-xl btn-light-primary font-bold mt-3">로그아웃</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-9">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <h5 class="cen">이달의 주식왕</h5>
                                        <div class="row">
                                            <div class="col-md-2" style="width:12.5%">
                                                <div class="stats-icon blue">
                                                    <i class="iconly-boldProfile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <h6 class="text-muted font-semibold">1등</h6>
                                                <h6 class="font-extrabold mb-0"><%=rank[0][0].user_nickname%></h6>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <div class="stats-icon blue">
                                                    <i class="iconly-boldProfile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <h6 class="text-muted font-semibold">2등</h6>
                                                <h6 class="font-extrabold mb-0"><%=rank[0][1].user_nickname%></h6>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <div class="stats-icon blue">
                                                    <i class="iconly-boldProfile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <h6 class="text-muted font-semibold">3등</h6>
                                                <h6 class="font-extrabold mb-0"><%=rank[0][2].user_nickname%></h6>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <div class="avatar avatar-xl">
                                                    <img src="/images/faces/1.jpg" alt="Face 1">
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <h6 class="text-muted font-semibold"><%=rank[1][0].my_rank%>등</h6>
                                                <h6 class="font-extrabold mb-0"><%= nickname %></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <!-- <div id="container" style="height: 400px; min-width: 310px" ></div> -->
                                        <img src="/images/faces/test1.jpg" style="height:400px; min-width: 310px ">
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-profile-visit"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="width: 1435px;">
                            <div class="col-11">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>최신 뉴스</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-lg">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Comment</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for (news of rank[3]) {%>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-md">
                                                                    <img src="/images/faces/5.jpg">
                                                                </div>
                                                                <p class="font-bold ms-3 mb-0"><%=news.news_title%></p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0"><%=news.news_content%></p>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="card">
                            <div class="card-body py-4 px-5" style="height: 157px;">
                                <div class="d-flex align-items-center" style="height: 120px;">
                                    <div class="avatar avatar-xl">
                                        <img src="/images/faces/1.jpg" alt="Face 1">
                                    </div>
                                    <div class="ms-3 name">
                                        <h5 class="font-bold"><%= nickname %></h5>
                                        <h6><a href="/users" class="text-muted mb-0">마이페이지</a>.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="height: 471px;">
                            <div class="card-header">
                                <h4>검색 인기 종목</h4>
                            </div>
                            <div class="card-content pb-4">
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <h6 id="first_company_name"></h6>
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1" id="first_company_stock"></h5>
                                        <h6 class="text-muted mb-0" id="first_company_state"></h6>
                                    </div>
                                    <div class="name ms-3">
                                        <h6 class="text-muted mb-0" id="first_company_percentage"></h6>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <h6 id="second_company_name"></h6>
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1" id="second_company_stock"></h5>
                                        <h6 class="text-muted mb-0" id="second_company_state"></h6>
                                    </div>
                                    <div class="name ms-3">
                                        <h6 class="text-muted mb-0" id="second_company_percentage"></h6>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <h6 id="third_company_name"></h6>
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1" id="third_company_stock"></h5>
                                        <h6 class="text-muted mb-0" id="third_company_state"></h6>
                                    </div>
                                    <div class="name ms-3">
                                        <h6 class="text-muted mb-0" id="third_company_percentage"></h6>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <h6 id="fourth_company_name"></h6>
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1" id="fourth_company_stock"></h5>
                                        <h6 class="text-muted mb-0" id="fourth_company_state"></h6>
                                    </div>
                                    <div class="name ms-3">
                                        <h6 class="text-muted mb-0" id="fourth_company_percentage"></h6>
                                    </div>
                                </div>
                                <!-- <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <h6 id="fifth_company_name"></h6>
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1" id="fifth_company_stock"></h5>
                                        <h6 class="text-muted mb-0" id="fifth_company_state"></h6>
                                    </div>
                                    <div class="name ms-3">
                                        <h6 class="text-muted mb-0" id="fifth_company_percentage"></h6>
                                    </div>
                                </div> -->
                                <div class="px-4">
                                    <button class='btn btn-block btn-xl btn-light-primary font-bold mt-3'><a href='/search'>더보기</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
    </div>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

    <!-- <script src="/vendors/apexcharts/apexcharts.js"></script> -->
    <script src="/javascripts/pages/dashboard.js"></script>

    <script src="/javascripts/main.js"></script>
</body>

</html>
<script >
    $( document ).ready(function() {
        document.getElementById('modal_btn').click();
        setInterval(() => {
            $.ajax({
                url:'/main/popular',
                type:'POST',
                success : function(result) {
                    document.getElementById("first_company_name").innerHTML = result[0].titles;
                    document.getElementById("first_company_stock").innerHTML = result[0].price;
                    document.getElementById("first_company_state").innerHTML = result[0].state;
                    if(result[0].src == '하락') {
                        document.getElementById("first_company_percentage").innerHTML = (parseInt(result[0].state)/100) + '%';
                        document.getElementById("first_company_state").innerHTML = '▼ ' +  result[0].state;
                    } else {
                        document.getElementById("first_company_percentage").innerHTML = (parseInt(result[0].state)/100) + '%';
                        document.getElementById("first_company_state").innerHTML = '▲ ' +  result[0].state;
                    }

                    document.getElementById("second_company_name").innerHTML = result[1].titles;
                    document.getElementById("second_company_stock").innerHTML = result[1].price;
                    document.getElementById("second_company_state").innerHTML = result[1].state;
                    if(result[1].src == '하락') {
                        document.getElementById("second_company_percentage").innerHTML = (parseInt(result[1].state)/100) + '%';
                        document.getElementById("second_company_state").innerHTML = '▼ ' +  result[1].state;
                    } else {
                        document.getElementById("second_company_percentage").innerHTML = (parseInt(result[1].state)/100) + '%';
                        document.getElementById("second_company_state").innerHTML = '▲ ' +  result[1].state;
                    }

                    document.getElementById("third_company_name").innerHTML = result[2].titles;
                    document.getElementById("third_company_stock").innerHTML = result[2].price;
                    document.getElementById("third_company_state").innerHTML = result[2].state;
                    if(result[2].src == '하락') {
                        document.getElementById("third_company_percentage").innerHTML =  (parseInt(result[2].state)/100) + '%';
                        document.getElementById("third_company_state").innerHTML = '▼ ' +  result[2].state;
                    } else {
                        document.getElementById("first_company_percentage").innerHTML = (parseInt(result[2].state)/100) + '%';
                        document.getElementById("first_company_state").innerHTML = '▲ ' +  result[2].state;
                    }

                    document.getElementById("fourth_company_name").innerHTML = result[3].titles;
                    document.getElementById("fourth_company_stock").innerHTML = result[3].price;
                    document.getElementById("fourth_company_state").innerHTML = result[3].state;
                    if(result[3].src == '하락') {
                        document.getElementById("fourth_company_percentage").innerHTML = (parseInt(result[3].state)/100) + '%';
                        document.getElementById("fourth_company_state").innerHTML = '▼ ' +  result[3].state;
                    } else {
                        document.getElementById("fourth_company_percentage").innerHTML = (parseInt(result[3].state)/100) + '%';
                        document.getElementById("fourth_company_state").innerHTML = '▲ ' +  result[3].state;
                    }

                    // document.getElementById("fifth_company_name").innerHTML = result[4].titles;
                    // document.getElementById("fifth_company_stock").innerHTML = result[4].price;
                    // document.getElementById("fifth_company_state").innerHTML = result[4].state;
                    // if(result[4].src == '하락') {
                    //     document.getElementById("fifth_company_percentage").innerHTML = (parseInt(result[4].state)/100) + '%';
                    //     document.getElementById("fifth_company_state").innerHTML = '▼ ' +  result[4].state;
                    // } else {
                    //     document.getElementById("fifth_company_percentage").innerHTML = (parseInt(result[4].state)/100) + '%';
                    //     document.getElementById("fifth_company_state").innerHTML = '▲ ' +  result[4].state;
                    // }
                }
            })
        }, 1000);
    });

</script>