<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">

    <link rel="stylesheet" href="/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon"> -->
</head>
<style>.cen{text-align: center;}</style>
<style>.cen2{text-align: left;}</style>
<body>
    <div id="app">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <button type="button" id="modal_btn" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="display: none;">Large modal</button>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <a href="/search/public_offering">
                            <img src="/images/modal/public_offering.png" alt="offering">
                        </a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                      </div>
                </div>
            </div>
            <div class="page-heading">
                <div class="card-body px-3 py-4-5">
                    <div class = "row">
                        <div class="col-md-1">
                            <img src="/images/logo/YLHlogo-removebg-preview.png" height="50" alt="Logo">
                        </div>
                        <div class="col-md-9">
                            <h1>한남대학교 창업모의투자</h1>
                        </div>
                        <div class="col-md-1">
                            <a href="/logout"button class="btn btn-xl btn-light-primary font-bold mt-3">로그아웃</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-9">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <h5 class="cen">이달의 주식왕</h5>
                                        <div class="row">
                                            <div class="col-md-2" style="width:12.5%">
                                                <div class="stats-icon blue">
                                                    <i class="iconly-boldProfile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <h6 class="text-muted font-semibold">1등</h6>
                                                <h6 class="font-extrabold mb-0"><%=rank[0][0].user_nickname%></h6>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <div class="stats-icon blue">
                                                    <i class="iconly-boldProfile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <h6 class="text-muted font-semibold">2등</h6>
                                                <h6 class="font-extrabold mb-0"><%=rank[0][1].user_nickname%></h6>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <div class="stats-icon blue">
                                                    <i class="iconly-boldProfile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <h6 class="text-muted font-semibold">3등</h6>
                                                <h6 class="font-extrabold mb-0"><%=rank[0][2].user_nickname%></h6>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <div class="avatar avatar-xl">
                                                    <img src="/images/faces/1.jpg" alt="Face 1">
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="width:12.5%">
                                                <h6 class="text-muted font-semibold"><%=rank[1][0].my_rank%>등</h6>
                                                <h6 class="font-extrabold mb-0"><%= nickname %></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div id="container" style="height: 400px; min-width: 310px" ></div>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-profile-visit"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-11">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>최신 뉴스</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-lg">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Comment</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-md">
                                                                    <img src="/images/faces/5.jpg">
                                                                </div>
                                                                <p class="font-bold ms-3 mb-0">Si Cantik</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0">Congratulations on your graduation!</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-md">
                                                                    <img src="/images/faces/2.jpg">
                                                                </div>
                                                                <p class="font-bold ms-3 mb-0">Si Ganteng</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0">Wow amazing design! Can you make another
                                                                tutorial for
                                                                this design?</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="card">
                            <div class="card-body py-4 px-5">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl">
                                        <img src="/images/faces/1.jpg" alt="Face 1">
                                    </div>
                                    <div class="ms-3 name">
                                        <h5 class="font-bold"><%= nickname %></h5>
                                        <h6><a href="/users" class="text-muted mb-0">마이페이지</a>.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4>종목 실시간 Best</h4>
                            </div>
                            <div class="card-content pb-4">
                                <% for (info of rank[3]) { %>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <h6><%= info.company_name %></h6>
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1"><%= info.company_stock %></h5>
                                        <h6 class="text-muted mb-0">▲ <%= info.different %></h6>
                                    </div>
                                    <div class="name ms-3">
                                        <h6 class="text-muted mb-0"><%= Math.abs(info.different / 100)%> %</h6>
                                    </div>
                                </div>
                                <% } %>
                                <!-- <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <h6>SK하이닉스</h6>
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">90,100</h5>
                                        <h6 class="text-muted mb-0">▲1100</h6>
                                    </div>
                                    <div class="name ms-3">
                                        <h6 class="text-muted mb-0">0.9%</h6>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <h6>카카오</h6>
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1">150,100</h5>
                                        <h6 class="text-muted mb-0">▲2,500</h6>
                                    </div>
                                    <div class="name ms-3">
                                        <h6 class="text-muted mb-0">2.0%</h6>
                                    </div>
                                </div> -->
                                <div class="px-4">
                                    <button class='btn btn-block btn-xl btn-light-primary font-bold mt-3'><a href='/search'>더보기</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4>한남대학교 창업 분야</h4>
                            </div>
                            <div class="card-body">
                                <div id="chart-visitors-profile"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
    </div>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

    <!-- <script src="/vendors/apexcharts/apexcharts.js"></script> -->
    <script src="/javascripts/pages/dashboard.js"></script>

    <script src="/javascripts/main.js"></script>
</body>

</html>
<script >
    $( document ).ready(function() {
        document.getElementById('modal_btn').click();
    });
Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/new-intraday.json', function (data) {

// create the chart
Highcharts.stockChart('container', {


    title: {
        text: 'AAPL stock price by minute'
    },

    rangeSelector: {
        buttons: [{
            type: 'hour',
            count: 1,
            text: '1h'
        }, {
            type: 'day',
            count: 1,
            text: '1D'
        }, {
            type: 'all',
            count: 1,
            text: 'All'
        }],
        selected: 1,
        inputEnabled: false
    },

    series: [{
        name: 'AAPL',
        type: 'candlestick',
        data: data,
        tooltip: {
            valueDecimals: 2
        }
    }]
});
});
</script>